body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid #3c00ff;
}

a:hover {
    border-bottom: dotted;
}

.front {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

.front p {
    margin-bottom: 20px;
}

.project {
    max-width: 1000px;
}

.content p {
    margin-bottom: 20px;
    text-indent: 90px;
}

.content {
    display: inline-block;
    width: 70%;
    float: left;
}

.colophon {
    display: inline-block;
    width: 19%;
    float: right;
    font-size: 13px;
    line-height: 20px;
}

#title {
    color: #3c00ff;
    font-weight: bolder;
}

#location {
    font-style: italic;
}

#research {
    text-decoration: none;
    color: white;
    background-color: #3c00ff;
    border-bottom: none;
}

#sup {
    color: #3c00ff;
    font-size: 13px;
}
