img {
  max-width: 60vw;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 20;
  position: relative;
}

.caption {
  max-width: 60vw;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 20;
  position: relative;
  text-align: right;
}

img:first-of-type {
  z-index: 5;
  position: relative;
}

.text {
  z-index: 10;
  position: fixed;
  padding-top: 20vh;
  padding-left: 60px;
  width: 40vw;
  min-width: 340px;
}
